html, body, :root {
  width: 100%;
  height: 100%;
  background-color: black;
}

#presentation {
  position: relative;
  width: 100%;
  height: 100%;
}

.file-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 500ms ease-out;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

video::-webkit-media-controls {
  display: none;
}

video {
  height: 105%;
}

.file-wrapper > * {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

div[data-state="hidden"] {
  transform: scale(.8);
  opacity: 0;
}

div[data-state="visible"] {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

