{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container py-5" style="min-height: 100vh;">
  <div class="card" style="width: 100%;">
    <div class="card-body">
        <h2 class="card-title">Lista de archivos</h2>
    

    {% if archivo_list %}

    
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-4" scope="col">Nombre</th>
          <th class="col-2" scope="col">Imagen</th>
          <th class="col-6" scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for archivo in object_list %}
        <tr>
          <td>{{ archivo.nombre }}</td>
          <td>
            {% if archivo.es_video %}
              <!-- Mostrar la imagen predeterminada como miniatura para videos -->
             
              <img src="{% static 'videopred.png' %}" style="width: 30px; height: 30px;"/>

            {% else %}
              <!-- Mostrar la miniatura de la imagen o cualquier otro tipo de archivo -->
              <img src="{{ archivo.archivo.url }}" style="width: 30px; height: 30px;"/>
            {% endif %}
          </td>
          <td>
            
            <button type="button" class="btn btn-dark">Ver imagen/video</button>
            <button type="button" class="btn btn-warning">Editar</button>
            <a href="#" onclick="eliminarArchivo({{archivo.id}})" type="button" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>



    {% if is_paginated %}
   
  
  <div class="pagination justify-content-center">
    <span class="page-links" style="margin-bottom: 50px; margin-top: 25px;">
        {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="btn btn-warning">Anterior</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="btn btn-warning">Siguiente</a>
        {% endif %}
        <!-- Inicio de la iteración para los números de página -->
        {% for page_num in page_obj.paginator.page_range %}
            {% if page_num == page_obj.number %}
                <span class="page-current current-page">{{ page_num }}</span>
            {% else %}
                <span class="page-current">{{ page_num }}</span>
            {% endif %}
        {% endfor %}
        <!-- Fin de la iteración -->
        
        
    </span>
</div>
  
    
{% endif %}
    {% endif %}
  </div>
</div>
</div>
  <style>
    .page-links span.page-current {
        display: inline-block;
        width: 20px; /* Ancho deseado del círculo */
        height: 20px; /* Altura deseada del círculo */
        text-align: center;
        line-height: 20px; /* Centra el contenido verticalmente en el círculo */
        border-radius: 50%; /* Hace que el elemento sea circular */
        background-color:  grey; /* Color de fondo del círculo */
        color: black; /* Color del texto dentro del círculo */
        margin-right: 5px; /* Espacio entre los círculos */
    }

    .page-links span.current-page { display: inline-block;
      width: 25px; /* Ancho aumentado del círculo */
      height: 25px; /* Altura aumentada del círculo */
      text-align: center;
      line-height: 25px; /* Centra el contenido verticalmente en el círculo */
      border-radius: 50%; /* Hace que el elemento sea circular */
        background-color: #ffc107; /* Color de fondo diferente para la página actual */
        color: #fff; /* Color del texto en la página actual */
        margin-right: 5px; /* Espacio entre los círculos */
    }
</style>
<script>
  function eliminarArchivo(id){
    console.log(id)
    Swal.fire({
      "title":"¿Estas seguro ?",
      "text": "esta accion no se puede deshacer",
       "icon": 'warning',
       "confirmButtonColor": '#3085d6',
      "cancelButtonColor": '#d33',
      "showCancelButton":true,
      "cancelButtonText": "Cancelar",
      "confirmButtonText":"Confirmar"
    })
    .then(function(result){
      if(result.isConfirmed){
        window.location.href= "/"+id+"/delete"
      }
    })
  }
</script>
{% endblock %}
