{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
  <script src="{% static 'presentacionForm.js' %}"></script>
  <link href="{% static 'presentacionForm.css' %}" type="text/css" rel="stylesheet" />
</head>


<div class="container py-5" style="min-height: 100vh;">
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h2 class="card-title">Nueva Presentación</h2>

      <form method="post" id="form" style="display: flex; flex-direction: column; gap: 18px; ">

        {% csrf_token %}
        <div class="form-group">
          <label for="titulo">Título:</label>
          <input type="text" class="form-control" id="titulo" name="titulo" required>
        </div>
        <div class="form-group">
          <label for="tiempo">Tiempo:</label>
          <input type="number" class="form-control" id="tiempo" name="tiempo" required>
        </div>
        <button type="button" class="btn btn-dark" id="select-file">Ver archivos</button>
        <div class="form-group">
          <label for="archivos-lista">Archivos seleccionados:</label>
          <ol id="files-box" type="1">

          </ol>
        </div>
        <button type="submit" class="btn btn-primary">Confirmar</button>
      </form>
    </div>
  </div>

  <div class="modal-overlay" data-state="close">
    <div class="modal_">
      <h2>Archivos</h2>
      <button type="button" class="modal-close">
        ✖︎
      </button>
      <div class="files-gallery">
      </div>
      <button type="button" class="btn btn-dark" id="confirmar">Confirmar</button>
    </div>
  </div>

  <script>
    const archivosString = `{
      {% for archivo in archivos %}
      "{{ archivo.id }}":{
        "id": "{{ archivo.id }}",
        "nombre": "{{ archivo.nombre }}",
        "url": "{{ archivo.archivo.url }}",
        "type": "{{ archivo.tipo }}",
        "duracion": "{{ archivo.duracion }}",
        "video": "{{ archivo.es_video }}" 
      },
      {% endfor %}
    }`

    const archivos = getArchivosFromString(archivosString)
    const filesList = document.getElementById('archivos-lista')
    const filesBox = document.getElementById('files-box')
    const selectFileButton = document.getElementById('select-file')
    const fileCards = document.querySelectorAll('.file-card')
    const modalOverlay = document.querySelector('.modal-overlay')
    const modal = document.querySelector('.modal_')
    const gallery = document.querySelector('.files-gallery')
    const modalConfirmButton = document.getElementById('confirmar')
    const fileBox = document.getElementById('files-box')
    const form = document.getElementById('form')
    const deleteSelectedFileButton = document.querySelectorAll('.selectedFile-delete')
    const modalCloseButton = document.querySelector('.modal-close')

    const fileController = new FilesController(archivos, gallery)
    fileController.render()

    modalConfirmButton.addEventListener('click', () => {
      modalOverlay.dataset.state = 'close'
      const selectedFiles = fileController.getSelectedFiles()
      renderSelectedFiles(fileController, fileBox)
    })

    modal.addEventListener('click', (e) => {
      e.stopPropagation()
    })


    fileCards.forEach(fileCard => {
      fileCard.addEventListener('click', (e) => {
        e.preventDefault()
        const id = fileCard.dataset.id
        fileController.toggleCard(fileCard, id)
      })
    })

    modalCloseButton.addEventListener('click', () => {
      modalOverlay.dataset.state = 'close'
    })

    modalOverlay.addEventListener('click', (e) => {
      if (e.target.classList.contains('modal-overlay')) {
        modalOverlay.dataset.state = 'close'
      }
      e.stopPropagation()
    })

    selectFileButton.addEventListener('click', (e) => {
      fileController.updateCards()
      modalOverlay.dataset.state = 'open'
    })

  </script>
</div>

{% endblock %}