{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Presentación</title>
    <script src="{% static 'app.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="{% static 'styles.css' %}" type="text/css" rel="stylesheet"/>
</head> 

<body>
    <div id="presentation">
    </div>
    <script>
        const duracionGeneral = '{{ duracion }}' * 1000
        function init() {
            const presentacionDiv = document.getElementById('presentation')
    
            // Obtiene los archivos de la presentación desde el contexto de Django
            // y devuelve un array con las rutas de cada uno 
            const archivosUrlRaw = '{% for archivo in archivos %} {{ archivo.archivo.url }} {% endfor %}'
                .split(' ').filter(archivo => archivo
                )

            // Mapea los archivos y los convierte en objetos con propiedad
            // url, type (imagen o video), node (nodo HTML) y duracion (undefined para los videos)
            // Aclaracion: Para poder obtener la duracion de los videos primero hay que cargarlos al document.querySelectorAll
            // y esperar que se descargue el recurso, por eso la duracion es undefined.
            const archivos = mapFiles(archivosUrlRaw, duracionGeneral)
            
            // Agrega los nodos al DOM
            archivos.forEach(archivo => {
                archivo.append(presentacionDiv)
                if(archivo.type === 'video') {
                    // Una vez que se carga el video en el DOM, se obtiene la duracion 
                    // y se la asigna al objeto
                    videoDuration(archivo.getFileTagChildren())
                        .then( duracion => archivo.setDuration(duracion * 1000)
                        )
                }
            })

            return archivos
        }

        // Se crean y se injectan todos los nodos HTML al DOM y se generan los objetos correspondientes a cada archivo
        const archivos = init()

        slide(archivos, duracionGeneral)
    </script>

</body>

</html>