{% extends 'base.html' %}
{% block content %}

<div class="container py-5" style="min-height: 100vh;">
  <div class="card" style="width: 100%;">
    <div class="card-body">
        <h2 class="card-title">Nueva Presentación</h2>
        <!-- <h2 class="card-title">{% if presentacion %}Editar Presentación{% else %}Nueva Presentación{% endif %}</h2> -->

    <form method="post" id="form" style="display: flex; flex-direction: column; gap: 18px; ">
        
        {% csrf_token %}
        <div class="form-group">
            <label for="titulo">Título:</label>
            <input type="text" class="form-control" id="titulo" name="titulo" required>
        </div>
        <div class="form-group">
            <label for="tiempo">Tiempo:</label>
            <input type="number" class="form-control" id="tiempo" name="tiempo" required>
        </div>
        <!-- <div class="form-group">
          <label for="titulo">Título:</label>
          <input type="text" class="form-control" id="titulo" name="titulo" required value="{% if presentacion %}{{ presentacion.titulo }}{% endif %}">
      </div>
      <div class="form-group">
          <label for="tiempo">Tiempo:</label>
          <input type="number" class="form-control" id="tiempo" name="tiempo" required value="{% if presentacion %}{{ presentacion.tiempo }}{% endif %}">
      </div> -->
      <!--  -->
        <div class="form-group">

            <label for="archivos">Archivos:</label>
            <div multiple class="form-control" id="archivos" name="archivos[]" required>

                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="col-1" scope="col"></th>
                        <th class="col-3" scope="col">Nombre</th>
                        <th class="col-2" scope="col">Imagen</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for archivo in archivos %}
                      <tr class="col-auto">
                        <td>
                          <div >
                            <input type="checkbox" class="form-check-input"  name="archivos[]" value="{{ archivo.id }}">
                            <!-- {% if archivo in archivos_seleccionados %}checked{% endif %} -->
                          </div>
                        </td>
                        <td>{{ archivo.nombre }}</td>
                        <td><img src="{{ archivo.archivo.url }}" style="width: 60px; height: 60px;" style="object-fit: cover;"/> 
                          {% comment %} <a href="{{ archivo.archivo.url }}" target="_blank">
                              <button>Abrir Imagen</button>
                          </a> {% endcomment %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Confirmar</button>
        <!-- <button type="submit" class="btn btn-primary">{% if presentacion %}Guardar Cambios{% else %}Crear Presentación{% endif %}</button> -->
           
    </form>
  </div>
</div>

</div>

{% endblock %}