{% extends 'base.html' %}

{% block content %}
<div class="container py-5" style="min-height: 100vh;">
  <div class="card" style="width: 100%;">
    <div class="card-body">
        <h2 class="card-title">Lista de Presentaciones</h2>

    {% if presentacion_list %}
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-4" scope="col">Titulo</th>
          <th class="col-2" scope="col">Tiempo</th>
          <th class="col-6" scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for presentacion in presentacion_list %}
        <tr>
          <td>{{ presentacion.titulo }}</td>
          <td>{{ presentacion.tiempo }}</td>
          <td>
            <button type="button" class="btn btn-dark" onclick="copyLink('{{ presentacion.titulo }}')">Copiar URL</button>
            <!-- <button type="button" class="btn btn-warning">Editar</button> -->
            <a href="{% url 'imagenes:presentacion-edit' presentacion.pk %}" class="btn btn-warning">Editar</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalEliminar{{ presentacion.pk }}">Eliminar</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}
  </div>
</div>
</div>


<!-- Modal de Confirmación de Eliminación -->
{% for presentacion in presentacion_list %}
<div class="modal fade" id="modalEliminar{{ presentacion.pk }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          ¿Eliminar Presentación?
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Estas por eliminar "{{ presentacion.titulo }}"
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form method="post" action="{% url 'imagenes:presentacion-delete'  presentacion.pk %}">
          {% csrf_token %}
          <input type="submit" class="btn btn-danger" value="Eliminar">
      </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% if request.GET.success %}
  <!-- Código HTML para mostrar el modal de confirmación -->
  <div class="modal fade" id="modalConfirmacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            Presentacion creada exitosamente "{{ request.session.titulo }}"
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- <div class="modal-body">
          Se creó la presentación "{{ titulo_presentacion }}" exitosamente.
        </div> -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Confirmar</button>
          <!-- <form method="post" action="{% url 'imagenes:presentacion-list' %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Confirmar">
        </form> -->
        </div>
      </div>
    </div>
  </div>
  
  <script>
    // JavaScript para mostrar el modal cuando la página se carga
    $(document).ready(function() {
      $('#modalConfirmacion').modal('show');
    });
  </script>
{% endif %}


<script>
function copyLink(title) {
    var textArea = document.createElement("textarea");
    textArea.value = 'http://127.0.0.1:8000/archivo/presentacion-vista/' + title;
    document.body.appendChild(textArea);
    textArea.select();
    
    try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'Enlace copiado: ' + textArea.value : 'No se pudo copiar el enlace';
        alert(msg);
    } catch (err) {
        console.error('Error al copiar el enlace:', err);
    }

    document.body.removeChild(textArea);
}
</script>
{% endblock %}